aiobotocore @ file:///tmp/build/80754af9/aiobotocore_1632831806531/work
aiohttp @ file:///tmp/build/80754af9/aiohttp_1637844158574/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1632292602851/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1637703192903/work/dist
appdirs==1.4.4
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1613037097816/work
asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1638156214979/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1635204771494/work
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto3 @ file:///tmp/build/80754af9/boto3_1625673553006/work
botocore @ file:///tmp/build/80754af9/botocore_1628183497250/work
brotlipy==0.7.0
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.0.3
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
configobj==5.0.6
confuse @ file:///home/conda/feedstock_root/build_artifacts/confuse_1638044079768/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639400846433/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1627027576828/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1640931331198/work
distro @ file:///tmp/build/80754af9/distro_1610479853857/work
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1636304329126/work
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1641623541510/work
dvc @ file:///home/conda/feedstock_root/build_artifacts/dvc_1640426632989/work
entrypoints==0.3
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1641790919964/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1634088721286/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1639926289913/work
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767111923/work
fsspec @ file:///tmp/build/80754af9/fsspec_1636116461911/work
ftfy @ file:///tmp/build/80754af9/ftfy_1598643610002/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1640095670534/work
future==0.18.2
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///tmp/build/80754af9/gitpython_1624609474443/work
grandalf==0.6
gssapi @ file:///home/conda/feedstock_root/build_artifacts/python-gssapi_1636132641875/work
gunicorn==20.1.0
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
htmlmin==0.1.12
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
ImageHash @ file:///home/conda/feedstock_root/build_artifacts/imagehash_1626361020540/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1638542885373/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1633545412716/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1635943998418/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
jedi @ file:///tmp/build/80754af9/jedi_1611333125342/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1637233111631/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1640335223713/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1636524756443/work
jupyter-server @ file:///tmp/build/80754af9/jupyter_server_1616083640759/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1641589478886/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1641638588045/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1635836691365/work
mailchecker @ file:///home/conda/feedstock_root/build_artifacts/mailchecker_1641743687585/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1639358987786/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
missingno==0.5.0
mistune==0.8.4
multidict @ file:///opt/conda/conda-bld/multidict_1640703752579/work
multimethod==1.6
munkres==1.1.4
nanotime==0.5.2
nbclassic @ file:///tmp/build/80754af9/nbclassic_1616085367084/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1641309195684/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
notebook @ file:///tmp/build/80754af9/notebook_1637161770985/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1641177025484/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
pandas-profiling @ file:///home/conda/feedstock_root/build_artifacts/pandas-profiling_1613839428900/work
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120460739/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathlib2 @ file:///tmp/build/80754af9/pathlib2_1625585678054/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phik @ file:///home/conda/feedstock_root/build_artifacts/phik_1636795280564/work
phonenumbers @ file:///tmp/build/80754af9/phonenumbers_1626154302581/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1636558800772/work
pluggy @ file:///tmp/build/80754af9/pluggy_1633715052817/work
ply==3.11
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1637050397234/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
psutil @ file:///tmp/build/80754af9/psutil_1612298023621/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///opt/conda/conda-bld/pydantic_1636617910351/work
pydot==1.2.4
pygit2 @ file:///home/conda/feedstock_root/build_artifacts/pygit2_1638794527871/work
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1609712740518/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==6.2.5
python-benedict @ file:///home/conda/feedstock_root/build_artifacts/python-benedict_1633418865701/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-fsutil @ file:///home/conda/feedstock_root/build_artifacts/python-fsutil_1620333537959/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytz==2021.3
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1638209722926/work
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638436375034/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1632739723211/work
QtPy @ file:///tmp/build/80754af9/qtpy_1629397026935/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
rich @ file:///opt/conda/conda-bld/rich_1641600379360/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1640809668390/work
ruamel.yaml.clib @ file:///opt/conda/conda-bld/ruamel.yaml.clib_1641552548372/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1634322382745/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1623278116614/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1640464148960/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1637806659039/work
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1640164469434/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1636643755121/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1641150030074/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///tmp/build/80754af9/sniffio_1614030475067/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1641778727195/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1636765185598/work
tabulate==0.8.9
tangled-up-in-unicode @ file:///home/conda/feedstock_root/build_artifacts/tangled-up-in-unicode_1632832610704/work
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1640031007814/work
unicorn==1.0.3
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3==1.26.7
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1638979090717/work
visions==0.7.4
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1634129269635/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt @ file:///tmp/build/80754af9/wrapt_1638433239696/work
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yarl @ file:///tmp/build/80754af9/yarl_1606939922162/work
zc.lockfile @ file:///Users/ktietz/demo/mc3/conda-bld/zc.lockfile_1629299854832/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
